<html>
<head>
  <title style="text-align: center;">{{naslov}}</title>

  <link href="{{url('static', filename='style.css')}}" rel="stylesheet">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="extensions/sticky-header/bootstrap-table-sticky-header.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
    <script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
  <script src="{{url('static', filename='izdelki.js')}}"></script>


  
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
     

      %if stran=='izdelki':
      <a class="nav-link active" href="{{url('izdelki')}}">Izdelki</a>
      %else:
      <a class="nav-link" href="{{url('izdelki')}}">Izdelki</a>
      %end

      %if stran=='kategorije':
      <a class="nav-link active" href="{{url('kategorije', skip=0, take=100)}}">Kategorije</a>
      %else:
      <a class="nav-link" href="{{url('kategorije', skip=0, take=100)}}">Kategorije</a>
      %end
    
    </div>
   
    
      <ul class="navbar-nav ml-auto">

        % if rola:
        <span class="navbar-text">
          Role: {{rola}}
        </span>
        %end

        % if uporabnik:
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Uporabnik: {{uporabnik}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{url('odjava')}}">Odjava</a>
           
          </div>
        </li>
        % end
      </ul>
  
  </nav>

  

  <div class="container">
    <h2 style="text-align: center;">{{naslov}}</h2> <br>
    {{!base}}
  </div>


</body>
</html>
